language: python
python:
- '3.7'
cache: pip
install:
- pip install -r requirements.txt
jobs:
  include:
  - stage: sonarcloud review
    script: bash sonar.sh
  - stage: test
    script: bash test.sh
addons:
  sonarcloud:
    organization: findcp
    token:
      secure: mO3j/RgiUVAZVyAI7jbYzz5AI9sPVAb1lwKxAbOML7sWSXS5q95rTZoysAutfPUuk3VHnQjzYtjEpftcQ34Yx5GKgyaV6CfOCeqSrqDD3xf5xPDiNdRf4J+aqWl1pHpvNLPJafYqJ9aP/27SndvndBRK7a7hGFE+oaPhq5lDQnIH+/RTL1TJZk3lLytrnDKDAdS3u1joqi3Hh3xgZDj4UmmRN34btPL3t7HipPSYfbyTGo0iYyNVqK7Lloa4KH/diBxnPHOoHUeK6i787WSrd5gHsFdpgDgks7PRlwuxHyWqguQmgiPAmf6dHdLnVdCi6ZuYYQYyuHTEKG090qF6aE6d7OLmio37IuenOUVnXhpBHSSBuAeYS7Z+udnWiARrPLekK3QlzHSFGY1YTsOeqEwe0p5Gt0QbWX6OL8w0qWVvDh0KgbSDj9NWWcq9YXkUKTtEKAZjnNmQVY4HvtXiN0o3f86aPhWTh6g5CBvNepuUK0uGt/l6Q5Ul5yCC1Qbu+pBxV9ybQsjWoC7xcjXrXbERg4YuiZS20pSPljUJXvEaj/TVs/z+0yhHOw4RR2OHMUhWS1cFYaNhkIX714DyZKWANE4YfM+Vd31574TyujpNAQUzFDtUOHI+hhAv5luCUlbdEL/TbqKliSRF+MBXDzI29xMBsmJyeKf0y5+q+8Y=

deploy:
  provider: pypi
  username: "__token__"
  password:
    secure: Jm+akO0Km3VGYjKg4gBv88GQh0g6mTfsddUcx1YNJ/HbBMwkD0x2lQ7eC1d8LU1CeBNsec/JMVUq6XXDWkCUh3y3zjJhVF67rwEGs6rS96arot2fbW+MWWpJsUCZKv68/UQrh5mZiRnMub2LPo3PawnmGhHU9OmCub2M9OM6blua+jXzANd0w0j9rSESij/qaInkTWx8THOgJEI7jQC+GFFWUSj80cO36HhNKgnQSMlmD1pD/b3GpHNoAm6apY8f8Hv7JjmkEA5WkxVau7SVtqvlr7UYW/SEuda3ipeDD75GhCmPfg9xytfWUOmNci8lbG40hGpQp/UrGyP6bOGvYy/QLE7pn/ZWr+ZP5tn1IAjKzpdmnBLjRGOXsaKMyj5iLPCVMxelzD+9alnelxww/PD/PVBldH11f3etBTfx4AMZKgsfFqFODM1IcjeoCtmBWGA5ItMQ3YXXKNbnxyZLKN0Nmed1ad45zJnwfrs73DxyUe7VHkzdO8u2CkH2n86REhBrVE2ZZDe818eIeU57flyI1DcDIfjcc/uK+WZVSQpnnNzlzCKsm4LTbkCiV9+YkbzgaOUqEs8S/UYYTU6g+3ASLFOOSBEzRJsU9HCQEXWWpnUpBPrkcbF4x3Cny+hBPanCq4NUk+5LqWeiPDOWy5xsAWXXnsQXRq5IQxC96gI=
  on:
    tags: true
